body, html {
  overflow: hidden;
  height: 100%;
}
.document-viewer-container {
  display: flex;
   /* Side-by-side layout */
  flex-direction: row;
  height: 100%; /* Full viewport height */
  overflow: hidden;
   /* Prevent overflowing */
   object-fit: cover;
}

.sidebar {
  flex: 1; /* Sidebar takes 1/4th of the width */
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-container {
  flex: 6; 
  /* Document Viewer takes remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; 
  /* Enable scrolling for large images */
  background-color: #ffffff;
}

.document-canvas {
  border: 1px solid #ccc;
  max-width: 95%; 
  /* Scales down to fit width */
  max-height: 90%;
   /* Scales down to fit height */
  object-fit: contain; /* Maintain aspect ratio */
}
